.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-title {
  color: #b1a3a1;
  margin-top: 30px;
  text-align: center;
  padding: 20px;
}

.task-create {
  width: 450px;
}

.task-label {
  color:rgb(93, 86, 85);
  padding: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.task-form {
  display: flex;
  flex-direction: column;
}

.task-input {
  padding: 10px;
  border: 1px solid #b1a3a1;;
  border-radius: 1px 25px;
  font-weight: bold;
  color: #a28885;
  font-size: 15px;
  font-weight: bold;
}

.task-textarea {
  padding: 10px;
  border: 1px solid #b1a3a1;
  border-radius: 1px 25px;
  margin-bottom: 15px;
  color: #a28885;
  font-size: 15px;
  font-weight: bold;
}

.task-button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color:#b1a3a1;
  border: none;
  border-radius: 1px 20px;
  justify-content: center;
  font-size: 15px;
}
.task-button:hover {
  background-color:#6f605e;
}
.issues{
  color: #b1a3a1;
  margin-top: 20px; 
}

.task-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

.task-show {
  border: 1px solid #a2888542;;
  border-radius: 1px 25px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  margin: 20px;
}

.button-bar {
  display: flex;
  margin-top: 20px;

}


.button-del {
  background-color: #bc3425;
  border: none;
  color: white;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
  width:90px;
  margin-right: 5px;
  border-radius: 30px;
}

.button-upd {
  background-color: #459364;
  border:none;
  color: white;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
  width:90px;
  margin-right: 5px;
  border-radius: 30px;
}

.taskList-title{
color:#a28885;
margin-bottom: 2px;
}

.taskList-todo{
color: #a28885;
margin-top: 2px;
}
