.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-title {
  color: #424242;
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
 padding-top: 30px;
}

.task-create {
  width: 450px;
}

.task-label {
  color:rgb(91, 84, 83);
  padding: 7px;
  padding-bottom: 10px;
  padding-top: 10px;
  font-weight: bold;
}
.task-form {
  display: flex;
  flex-direction: column;
}

.task-input {
  padding: 10px;
  border: 1px solid #524a49;;
  border-radius: 1px 9px;
  font-weight: bold;
  color: #554a49;
  font-size: 15px;
  font-weight: bold;
}

.task-textarea {
  padding: 10px;
  border: 1px solid #5c5554;
  border-radius: 1px 9px;
  margin-bottom: 15px;
  color: #575150;
  font-size: 15px;
  font-weight: bold;
}

.task-button {
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
  background-color:#6c6b6b;
  border: none;
  border-radius: 1px 10px;
  justify-content: center;
  font-size: 15px;
}
.task-button:hover {
  background-color:#6f605e;
}
.issues{
  color: #594e4c;
  margin-top: 40px; 
  margin-bottom:10px;
}

.task-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }
.taskShow-list{
  margin: 5px;
  padding: 5px;
}


.task-show {
  border: 1px solid #a2888590;;
  border-radius: 1px 25px;
  width: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 15px;
  margin: 20px;
  margin-top: 10px;
}

.button-bar {
  display: flex;
  margin-top: 20px;

}


.button-del {
  background-color: #e1aa20e4;
  border: none;
  color: white;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
  width:90px;
  margin-right: 5px;
  border-radius: 30px;
}

.button-upd {
  background-color: #2caa50;
  border:none;
  color: white;
  padding: 5px;
  font-size: 15px;
  font-weight: bolder;
  width:90px;
  margin-right: 5px;
  border-radius: 30px;
}

.taskList-title{
color:#575151;
margin-bottom: 2px;
}

.taskList-todo{
color: #655755;
margin-top: 2px;
}

.task-update{
  width:100%;
}
